.text-orange {
  color: #FF6000 !important;
}

.text-blue {
  color: #008EFF !important;
}

.text-black {
  color: #000 !important;
}

.orange-background {
  background-color: #FF6000 !important;
  border-color: #FF6000 !important;
}

.blue-background {
  background-color: #008EFF !important;
  border-color: #008EFF !important;
}

.white-background {
  background-color: #FFF !important;
  border-color: #FFF !important;
}

.text-red {
  color: red;
}

.text-black-45 {
  color: rgba(0, 0, 0, 0.45);
}

.text-black-70 {
  color: rgba(0, 0, 0, 0.7);
}

.text-white {
  color: #FFF;
}

.bg-black-02 {
  background-color: rgba(0, 0, 0, 0.02);
}
